[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "treestructure"]
	path = treestructure
	url = https://github.com/emvolz-phylodynamics/treestructure
